<h1><%= @video.title.titleize %></h1>

<div id='zype_player'></div>

<% if description = @video.description %>
<p class='video-description'>
  <%= truncate(description.html_safe, length: 400) %>
</p>
<% end %>
<script id='ZYPE_PLAYER_JS' src="https://api.zype.com/embed/<%= @video._id %>.js?player_key=<%= ENV['ZYPE_PLAYER_KEY'] %>&autoplay=true" type='text/javascript'></script>
